body{
    background-image: url('img/footer_lodyas.png');
    font-family: 'Lato', sans-serif;
}



#logo{
    margin-top: 10px;
    margin-bottom: 10px;
    height:auto;
    display: block;
    max-width: 100% !important;
    float: left;
}

#log_buttn{
    float: right;
    padding-top: 70px;
    font-size: 20px;
}

a:link{
    color:darkgrey;
    text-decoration: none;
}
a:visited{
    color:darkgrey;
    text-decoration: none;
}
a:hover{
    color:white;
    text-decoration: none;
}

.navbar-nav{
    font-size: 20px;
}

.ulub:hover{
    color:red;
}


#panel{
    clear:both;
}
.input-group{
    width: 940px;
}

.form-control{
    width: 1000px;
    background-color: #4a4a4a;
    color: white;
}

#menu{
    color: white;
    padding-top: 20px;
}

.table{
    color: #A9A9A9;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: #222222;
    border-radius: 5px;
    border-color: #101010;
    margin-bottom: 20px ;
}

.ilosc{
    background-color: #373737;
    max-width: 100px;
}

#podsumowanie{
    color: white;
    float:right;
    width:300px;
    height: 200px;
    border:1px solid #DDDDDD;
    margin-right:8px;
    margin-bottom: 10px;
    background-color: #222;
    display: table;
}

p{
    display: inline;
    color: #DF8830;
}



.btn-primary{
    background-color: #462300;
    border-color: #462300;
}

.btn-primary:hover{
    background-color: #DF8830;
    border-color: #DF8830;
}

.btn-primary:focus{
    background-color: #222;
    border-color: #222;
}


.my-repeat-animation.ng-enter.ng-enter-active,
.my-repeat-animation.ng-leave {
    opacity: 1;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

/* Remove animation */
.my-repeat-animation.ng-leave.ng-leave-active,
.my-repeat-animation.ng-enter {
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}