body{
  background-image: url('img/footer_lodyas.png');
  font-family: 'Lato', sans-serif;
}

#container{

}

#logo{
  margin-top: 10px;
  margin-bottom: 10px;
  height:auto;
  display: block;
  max-width: 100% !important;
  float: left;
}

#log_buttn{
  float: right;
  padding-top: 70px;
  font-size: 20px;
}

a:link{
  color:darkgrey;
  text-decoration: none;
}
a:visited{
  color:darkgrey;
  text-decoration: none;
}
a:hover{
  color:white;
  text-decoration: none;
}

.navbar-nav{
  font-size: 20px;
}

.glyphicon-heart:hover{
  color:red;
}


#panel{
  clear:both;
}
.input-group{
  width: 940px;
}

.form-control{
  width: 1000px;
  background-color: #4a4a4a;
  color: white;
}

#menu{
  color: white;
  padding-top: 20px;
}

.nav-tabs{
  border-bottom: 1px solid gray;
}

.nav-tabs>li>a:hover{
  background-color: #4a4a4a;
}

.nav-tabs>li.active>a:focus{
  background-color: #101010;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  background-color: #222;
  color: white;
  border-color: gray;
}

.list-group-item{
  background-color: transparent;
  border-color: gray;
}

.list-group-item:hover{
  background-color: #462300;
}
.btn-primary{
  background-color: #222;
  border-color: #222;
}

.btn-primary:hover{
  background-color: #DF8830;
  border-color: #DF8830;
}

.btn-primary:focus{
  background-color: #222;
  border-color: #222;
}

.table {
  color: #A9A9A9;
}

.row-padded {
  padding: 20px;
  background-color: hsl(0, 0%, 15%) !important;;
  border: 1px solid hsl(0, 0%, 15%);
  color: hsl(0, 0%, 70%) !important;
}

.row-padded .span4 {
  background-color: hsl(0, 0%, 15%) !important;;
  width: 30%;
  border: 1px solid hsl(0, 0%, 15%);
  color: hsl(0, 0%, 70%) !important;
}

.btn-link{
  color: gray;
}

.select {
  color: black;
}

.row-padded {
  padding: 20px;
  background-color: hsl(0, 0%, 15%) !important;;
  border: 1px solid hsl(0, 0%, 15%);
  color: hsl(0, 0%, 70%) !important;
}

.row-padded .span4 {
  background-color: hsl(0, 0%, 15%) !important;;
  width: 30%;
  border: 1px solid hsl(0, 0%, 15%);
  color: hsl(0, 0%, 70%) !important;
}

.row-table {
  padding: 20px;
  background-color: hsl(0, 0%, 10%);
  border: 1px solid hsl(0, 0%, 15%);
  color: hsl(0, 0%, 70%) !important;
}

.row-table .span4 {
  background-color: hsl(0, 0%, 10%);
  width: 30%;
  border: 1px solid hsl(0, 0%, 15%);
  color: hsl(0, 0%, 70%) !important;
}
