<form id="paypalForm" ng-submit="setOrder($event)"  action="https://www.paypal.com/cgi-bin/webscr" method="post">

    <div class="alert alert-{{alert.type}}">{{alert.msg}}</div>
<div class="table-responsive">
    <table class="table" style="margin-bottom: 10px;">
        <thead>
        <tr>
            <th ng-repeat="naglowek in [ 'Nazwa','Platforma','Cena','Ilość',' ']">{{naglowek}}</th>
        </tr>
        </thead>
        <tbody>
        <tr id="Item" class="my-repeat-animation" ng-repeat="item in items" >
            <td><a href="#/game/{{item.id}}"><img style="float: left;  margin-right: 20px;" src="uploads/{{item.id}}/{{item.Plakat}}"/> {{item.Nazwa}} </a></td>
            <td>{{item.Platform}}/{{item.Format}}</td>
            <td>{{item.Cena}} PLN</td>
            <td>
                <div class="form-group">
                <input class="ilosc" type="number" name="input{{$index}}" step="1" value="1" min="1" required ng-model="item.qty" >
                </div>
                <span class="text-danger" ng-show="myForm.input{{$index}}.$error.required">Podaj ilość</span>
                <span class="text-danger" ng-show="myForm.input{{$index}}.$error.number">Tylko cyfry</span>
                <span class="text-danger" ng-show="myForm.input{{$index}}.$error.max">Brak tyle w magazynie</span>
            </td>
            <td><a href id="usun" ng-click="remove($index)"  ><span class="glyphicon glyphicon-trash"></span> Usuń</a><br/>
            </td>
        </tr>
        </tbody>
    </table>
</div>

    <div style="clear: both"></div>


    <!--Podsumowanie-->
    <div id="podsumowanie">
        <div style="display: table-cell; vertical-align: middle;text-align: center; font-size: 25px;" >Łącznie: <p style="color: #DF8830">{{total()}}</p> PLN <br />


                <input type="hidden" name="cmd" value="_cart">
                <INPUT TYPE="hidden" NAME="currency_code" value="PLN">
                <input type="hidden" name="upload" value="1">
                <input type="hidden" name="charset" value="utf-8">

                <input type="hidden" name="business" value="krol.bartosz@o2.pl">
                <div ng-repeat="item in items">
                    <input type="hidden" name="item_name_{{$index+1}}" value="{{item.Nazwa}}">
                    <input type="hidden" name="quantity_{{$index+1}}" value="{{item.qty}}">
                    <input type="hidden" name="amount_{{$index+1}}" value="{{item.Cena}}">
                </div>
                <button type="submit" class="btn btn-primary btn-md" style="width: 200px; margin-top: 20px; border-color: #DF8830">Przejdź do kasy &nbsp; <span class="glyphicon glyphicon-credit-card"></span></button>
        </div>
    </div>
</form>
<button ng-click="emptyCart()" class="btn btn-primary btn-md pull-left" style="width: auto; float: right; color: whitesmoke; margin-right: 10px; border-color: #DF8830">Wyczyść koszyk &nbsp<span class="glyphicon glyphicon-trash"></span></button>