<!--Logo-->
<div id="logo">
    <a href="#/"> <img class="img-responsive" src="img/logo.png" alt="Strona Główna"/> </a>
</div>

<!--Panel Logowania -->
<!--<div id="log_buttn">-->
    <!--<a href="#/admin/panel">Panel Administratora&nbsp;&nbsp;</a>-->
    <!--<a href="" ng-click="logout()" >Wyloguj&nbsp;&nbsp;<span class="glyphicon glyphicon-log-out" ></span></a>-->
    <!--&nbsp;&nbsp;-->

    <!--<a href="#/cart" ><span class="glyphicon glyphicon-shopping-cart"></span><span class="badge">{{ilosc}}</span></a>-->


<!--</div>-->

<!--Panel-->
<div id="panel">
    <!--<div class="navbar navbar-inverse " role="navigation">-->
        <!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->

            <!--<ul class="nav navbar-nav">-->
                <!--<li class="dropdown">-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="">Gatunek-->
                        <!--<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#/list">RPG</a></li>-->
                        <!--<li><a href="#/list">Akcji</a></li>-->
                        <!--<li><a href="#/list">FPS</a></li>-->
                        <!--<li><a href="#/list">Przygodowe</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="">Platforma-->
                        <!--<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#/list">PC</a></li>-->
                        <!--<li><a href="#/list">Play Station 4</a></li>-->
                        <!--<li><a href="#/list">Xbox ONE</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->

            <!--<div class="col-sm-3 col-md-3">-->
                <!--<form class="navbar-form" role="search">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="Szukaj..." name="srch-term" id="searchFiled_TXT"  ng-keydown="autoCompleteInput()" >-->
                        <!--<div class="input-group-btn">-->
                            <!--<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">Strona główna</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#/list">Lista Gier</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/admin/panel">Panel Administratora&nbsp;&nbsp;</a></li>
                <li><a href=""  ng-click="logout()">Wyloguj się&nbsp&nbsp <span class="glyphicon glyphicon-log-out"></span></a></li>
                <li><a href="#/cart" ><span class="glyphicon glyphicon-shopping-cart"></span><span class="badge">{{ilosc}}</span></a></li>
            </ul>
        </div>
    </nav>

</div>




